<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisflask" path="*" verb="*" modules="iis-flask" scriptProcessor="D:\home\python361x64\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" responseBufferLimit="0" />
    </handlers>
  </system.webServer>
</configuration>
